@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/topLayout.cshtml";
}
<script>
    window.onload = function () {
        $("#homeli").removeClass("active");
        $("#articlesli").removeClass("active");
        $("#filesli").removeClass("active");
        $("#contactli").removeClass("active");
        $("#whatidoli").removeClass("active");
    }
</script>
<div class="col-md-8">
    <div class="renk girdi">
        <h3 class="baslik">@Html.ActionLink("İlk Deneme Yazımız Girildi", "", "")</h3>
        <ul class="girdiBilgi">
            <li><a href="#"><i class="fa fa-calendar"></i>29 Kasım 2014</a></li>
            <li><a href="#"><i class="fa fa-user"></i>Fatih Yazıcı</a></li>
            <li><a href="#"><i class="fa fa-tag"></i>CSharp</a></li>
        </ul>
        <span class="girdiIcerik"><img src="~/Content/Images/content-icon.png" alt="İlk Deneme Yazımız Girildi" class="img-responsive img-rounded pull-left" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar justo vitae molestie maximus. Aenean id eros mollis, venenatis enim nec, semper lectus. Nunc facilisis tortor in ligula varius luctus. Proin ornare, dolor ut fringilla molestie, metus purus rutrum risus, non blandit ligula mauris ut tortor. Cras rutrum mollis fringilla. Donec cursus, nulla sed accumsan sollicitudin, tortor arcu ornare neque, vitae aliquam lacus sapien ac lorem. Fusce nec interdum magna, id sodales ex. Sed sapien orci, rutrum quis augue vel, interdum sodales mi. Integer non finibus velit. Ut laoreet sapien turpis, ut laoreet augue tincidunt ac. Donec sit amet semper turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam et purus id sapien posuere ultricies nec quis felis. Cras eget mollis lorem. Mauris maximus, leo at fermentum facilisis, nibh eros blandit ligula, in semper arcu diam in dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </span>
    </div>
    <div class="renk girdi">
        <h3 class="baslik">@Html.ActionLink("İlk Deneme Yazımız Girildi", "", "")</h3>
        <ul class="girdiBilgi">
            <li><a href="#"><i class="fa fa-calendar"></i>29 Kasım 2014</a></li>
            <li><a href="#"><i class="fa fa-user"></i>Fatih Yazıcı</a></li>
            <li><a href="#"><i class="fa fa-tag"></i>CSharp</a></li>
        </ul>
        <span class="girdiIcerik"><img src="~/Content/Images/content-icon.png" alt="İlk Deneme Yazımız Girildi" class="img-responsive img-rounded pull-left" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar justo vitae molestie maximus. Aenean id eros mollis, venenatis enim nec, semper lectus. Nunc facilisis tortor in ligula varius luctus. Proin ornare, dolor ut fringilla molestie, metus purus rutrum risus, non blandit ligula mauris ut tortor. Cras rutrum mollis fringilla. Donec cursus, nulla sed accumsan sollicitudin, tortor arcu ornare neque, vitae aliquam lacus sapien ac lorem. Fusce nec interdum magna, id sodales ex. Sed sapien orci, rutrum quis augue vel, interdum sodales mi.</span>
    </div>
    <div class="renk girdi">
        <h3 class="baslik">@Html.ActionLink("İlk Deneme Yazımız Girildi", "", "")</h3>
        <ul class="girdiBilgi">
            <li><a href="#"><i class="fa fa-calendar"></i>29 Kasım 2014</a></li>
            <li><a href="#"><i class="fa fa-user"></i>Fatih Yazıcı</a></li>
            <li><a href="#"><i class="fa fa-tag"></i>CSharp</a></li>
        </ul>
        <span class="girdiIcerik"><img src="~/Content/Images/content-icon.png" alt="İlk Deneme Yazımız Girildi" class="img-responsive img-rounded pull-left" />Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar justo vitae molestie maximus. Aenean id eros mollis, venenatis enim nec, semper lectus. Nunc facilisis tortor in ligula varius luctus. Proin ornare, dolor ut fringilla molestie, metus purus rutrum risus, non blandit ligula mauris ut tortor. Cras rutrum mollis fringilla. Donec cursus, nulla sed accumsan sollicitudin, tortor arcu ornare neque, vitae aliquam lacus sapien ac lorem. Fusce nec interdum magna, id sodales ex. Sed sapien orci, rutrum quis augue vel, interdum sodales mi. Integer non finibus velit. Ut laoreet sapien turpis, ut laoreet augue tincidunt ac. Donec sit amet semper turpis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam et purus id sapien posuere ultricies nec quis felis. Cras eget mollis lorem. Mauris maximus, leo at fermentum facilisis, nibh eros blandit ligula, in semper arcu diam in dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </span>
    </div>
</div>


