html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Calibri;
    vertical-align: baseline;
    background: transparent;
}

.footer{
    margin-top:20px;
}
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}
.fb-page,.fb-page iframe, .fb-page span{
width:100% !important;
}
blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: gray;
}

    a:hover {
        color: rosybrown;
    }


#searchtext {
    height: 50px;
    width: 75%;
    background-color: #eeeeee;
    font-size: 20px;
    background-color: #fff;
    outline: none !important;
    border: none;
    margin-top: -1px;
    background-color: transparent;
}



#searchbutton {
    height: 50px;
    border: none;
    padding: 0;
    background-color: #428bca;
    color: #fff;
    border-radius: 0px 2px 2px 0px;
}

    #searchbutton:hover {
        cursor: pointer;
        background-color: #66CCCC;
    }


#btnnextprev {
    width: auto !important;
    height: 32px;
}

#tagName {
    background: #eee;
    padding: 15px;
    border-radius: 2px;
    color: rgb(44, 62, 80);
    font:bold;
}

.container{
	width: 100%;
	max-width: 1240px;
	margin:0 auto;
	padding:0 15px;
}
.row{
	margin:0 -15px;
}

.container410{
	width: 100%;
	max-width: 380px;
	margin:0 auto;
	padding:0 15px;
}
.girisyap{
	width: 100%;
	float: left;
	position: relative;
}
.logo{
	width: 100%;
	float: left;
	text-align: center;
	background: #2c3e50;
	padding-top: 20px;
}
.logo img{
	padding-left:30px;
}
.inputlar{
	width: 100%;
	float: left;
	padding:15px 30px;
	background: #273747;
}
.girisyap form button{
	width: 100%;
	float: left;
	height: 75px;
	background: #2c3e50;
	border:none;
    font-family: 'RR';
    font-size: 14px;
	color: #FFFFFF;
}
.girisyap form button:hover,.girisyap form input:hover,.girisyap form input:hover{
	background: #3A4B5B;
}
.inputlar div{
	width: 100%;
	float: left;
	height: 95px;
	padding:15px 0;
	position: relative;
}
.inputlar div input{
	background: #2C3E50;
	width: 100%;
	float: left;
	border:none;
	border-radius: 2px;
	height: 100%;
	padding:0 20px;
    font-family: 'RR';
    
	color: #FFFFFF;
    font-size: 14px;
}
.inputlar div input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
.inputlar div input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #fff;
   opacity:  1;
}
.inputlar div input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #fff;
   opacity:  1;
}
.inputlar div input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #fff;
}
.inputlar div label{
	position: absolute;
	top: 50%;
	margin-top: -11px;
	padding:0 20px;
}


body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

ul.sosyalJumb {
	font-size: 18px;
	line-height: 87px;
}
ul.sosyalJumb li {
	display:inline-block;
	margin: 0 15px;
}
ul.sosyalJumb li a:hover {
	text-decoration:none;
}

.renk {
	background: #eee;
	border-radius: 2px;
	box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.renk.ara {
	padding:0px;
	height: 50px;
}

.ara .araButon {
	width: 15%;
	float:right;
}

.ara .araInput {
	width:80%;
	border:none;
	font-family: "Open Sans";
	font-size:12px !important;
	padding-left: 15px;
	color:#999;
}
.girdi {
	padding:20px;
	margin-bottom:20px;
   
}

.girdi h3.baslik {
	margin:0 !important;
	padding:0 !important;
	margin-bottom: 5px !important;
}

ul.girdiBilgi li {
	display:inline-block;
	padding-right:10px;
}

ul.girdiBilgi li i {
	padding-right:5px;
	color:#999;
}
.girdi span.girdiIcerik {
	display:inline-block;
	width:auto !important;
  word-wrap:break-word;
	line-height: 22px;
	font-size: 15px;
}
@media (max-width:1024px){
	.girdi span.girdiIcerik img{
		width: 100% !important;
		height: auto !important;
		
	}
}
.girdi span.girdiIcerik img {
	margin-right: 15px;
    
	height:128px;
    
	width: 128px;
}

.kutu {
	margin-bottom:20px;
}

.kutu.kat {
	padding:20px;
}
.kutu.kat h3.baslik i{
	margin-right:10px;
	position: relative;
	top: 2px;
}
.kutu.kat h3.baslik i:before{
	  content: "\f02c";
	  font-size: 18px;
}
ul.sosyalJumb .fa{
	color:#666;
}
ul.sosyalJumb .fa:hover{
	color:rgba(0,0,0,0.4);
}
.kutu.kat h3.baslik {
	padding:0;
	margin:0;
	color:#666;
	padding-bottom: 15px;
	border-bottom: 1px solid #D2D2D2;
	margin-bottom: 15px;
	/* float: left; */
	/* width: 100%; */
	/* line-height: 6px; */
}
.kutu.kat ul li {
	margin-bottom: 10px;
	font-size:18px;
}
.kutu.kat ul li a:hover {
	text-decoration:none;
}
.kutu.kat ul li a:before {
	font-family: "FontAwesome";
	/* content:"\f0da"; */
	margin-right: 10px;
	content: "\f105";
}
.renk.alt {
	padding: 15px;
}

.tanit {
	padding:10px;
}

.girdiIcerik .etiket:before {
	font-family: "FontAwesome";
	content:"\f02c";
	margin-right:5px;
}

hr {
	border:none;
	border-bottom:1px dashed #c0c0c0 !important;
}

.renkyorum {
	padding:10px;
	margin-bottom:10px;
    margin-top:5px;
}
.yorum p {
	margin:0;
}
.yorum .yazar {
	font-weight:bold;
}
.yorum .yazar:before {
	font-family: "FontAwesome";
	content:"\f007";
	margin-right:5px;
}
.yorum .zaman {
	font-size:12px;
	float:right;
}
.yorum .zaman:after {
	font-family: "FontAwesome";
	content:"\f073";
	margin-left:5px;
}
.yorum img {
	margin-right:5px;
}
.yorum p:after {
	clear:both;
	content:' ';
	display:block;
}
.renk.yorum.sahip {
	background-color:#c9dced;
}
.yorumyaz {
	padding:20px 20px 5px;
	margin-bottom:20px;
}

@media (max-width: 767px) {
	.sosyol {
		float:none !important;
		text-align:center;
	}
	.sosyol .pull-right{
		float:none !important;
	}
}
@media (min-width: 1200px) {
	.tanit {
		padding: 15px 15px 0 0;
	}
}
