@{
    ViewBag.Title = "HATA!";
    Layout = "~/Views/topLayout.cshtml";
}

<body>



    <div class="col-md-8">
        <div style=" ">

            <div class="renk girdi">
              <center><b style="font-size:36px;">404 NOT FOUND</b></center><br /><br />
                <center><b style="font-size:20px;">HATA! ULAŞMAYA ÇALIŞTIĞINIZ SAYFA BULUNAMADI!</b></center>
                </div>

            </div>
    </div>

</body>
