html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-family: Calibri;
    vertical-align: baseline;
    background: transparent;
}

.footer{
    margin-top:20px;
}
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: gray;
}

    a:hover {
        color: rosybrown;
    }


#searchtext {
    height: 50px;
    width: 75%;
    background-color: #eeeeee;
    font-size: 20px;
    background-color: #fff;
    outline: none !important;
    border: none;
    margin-top: -1px;
    background-color: transparent;
}



#searchbutton {
    height: 50px;
    border: none;
    padding: 0;
    background-color: #428bca;
    color: #fff;
    border-radius: 0px 2px 2px 0px;
}

    #searchbutton:hover {
        cursor: pointer;
        background-color: #66CCCC;
    }


#btnnextprev {
    width: auto !important;
    height: 32px;
}

#tagName {
    background: #eee;
    padding: 15px;
    border-radius: 2px;
    color: rgb(44, 62, 80);
    font:bold;
}
